p {
    margin: 0;
}

.page-flex {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.all-center {
    justify-content: center;
    align-content: center;
    align-items: center;
    /* text-align: center; */
}

.home-background {
    background: linear-gradient(rgb(240, 240, 170), rgb(240, 212, 136));
}

.contact-background {
    background: linear-gradient(rgb(240, 128, 34), rgb(240, 100, 0));
}


.fixed-ar-1-1::before {
    padding-top: 100%;
}