/* ---------------- Home Page Start ---------------- */
.homeBackground {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    /* background-position: 50% 50%; */
}

/* ---------------- Home Page End ---------------- */

/* ---------------- AboutMe Page Start ---------------- */
.aboutMeBackground {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: pink;
    text-align: center;
}

.aboutMeList {
    list-style-type: none;
    padding: 0;
}