.AnimationContainer {
  position: relative;
  height: 100%;
	background-color:#369;
  overflow:hidden;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* DEBRIS DEBRIS DEBRIS DEBRIS  */
@-webkit-keyframes debri {
  0% {
    left: -150px;
  }
  100% {
    left: 125%;
  }
}
@keyframes debri {
  0% {
    left: -150px;
  }
  100% {
    left: 125%;
  }
}

.debri1 {
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #dddddd;
  top: 10%;
  left: -150px;
  -webkit-animation: debri 0.6s 1.5s ease-out infinite;
          animation: debri 0.6s 1.5s ease-out infinite;
}

.debri2 {
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: #dddddd;
  top: 30%;
  left: -150px;
  -webkit-animation: debri 0.6s 0.75s ease-out infinite;
          animation: debri 0.6s 0.75s ease-out infinite;
}

.debri3 {
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #dddddd;
  top: 40%;
  left: -150px;
  z-index: -1;
  -webkit-animation: debri 0.6s 0.5s ease-out infinite;
          animation: debri 0.6s 0.5s ease-out infinite;
}

.debri4 {
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #dddddd;
  top: 50%;
  left: -150px;
  -webkit-animation: debri 0.6s 0.45s ease-out infinite;
          animation: debri 0.6s 0.45s ease-out infinite;
}

.debri5 {
  position: absolute;
  width: 90px;
  height: 2px;
  background-color: #dddddd;
  top: 60%;
  left: -150px;
  -webkit-animation: debri 0.6s 0.4s ease-out infinite;
          animation: debri 0.6s 0.4s ease-out infinite;
}

.debri6 {
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #dddddd;
  top: 80%;
  left: -150px;
  -webkit-animation: debri 0.6s 0.3s ease-out infinite;
          animation: debri 0.6s 0.3s ease-out infinite;
}
/* DEBRIS DEBRIS DEBRIS DEBRIS  */

/* CLOUDS CLOUDS CLOUDS CLOUDS  */
@-webkit-keyframes cloud {
  0% {
    left: -150px;
  }
  100% {
    left: calc(100% + 150px);
  }
}
@keyframes cloud {
  0% {
    left: -150px;
  }
  100% {
    left: calc(100% + 150px);
  }
}

@-webkit-keyframes cloud2 {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% + 200px);
  }
}

@keyframes cloud2 {
  0% {
    left: -150px;
  }
  100% {
    left: 175%;
  }
}

.cloud1 {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5%;
  left: -150px;
  border-radius: 100%;
  -webkit-box-shadow: 50px 50px 2px rgba(255, 255, 255, 0.95), 30px 55px 1px rgba(255, 255, 255, 0.95), 10px 50px 1px rgba(255, 255, 255, 0.95), 20px 35px 1px rgba(255, 255, 255, 0.95), 40px 35px 1px rgba(255, 255, 255, 0.95);
          box-shadow: 50px 50px 2px rgba(255, 255, 255, 0.95), 30px 55px 1px rgba(255, 255, 255, 0.95), 10px 50px 1px rgba(255, 255, 255, 0.95), 20px 35px 1px rgba(255, 255, 255, 0.95), 40px 35px 1px rgba(255, 255, 255, 0.95);
  -webkit-animation: cloud 10s linear infinite;
          animation: cloud 10s linear infinite;
  z-index: 0;
}

.cloud2 {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 15%;
  left: -150px;
  border-radius: 100%;
  -webkit-box-shadow: 80px 100px 2px rgba(255, 255, 255, 0.95), 45px 105px 1px rgba(255, 255, 255, 0.95), 10px 100px 1px rgba(255, 255, 255, 0.95), 60px 75px 1px rgba(255, 255, 255, 0.95), 30px 75px 1px rgba(255, 255, 255, 0.95);
          box-shadow: 80px 100px 2px rgba(255, 255, 255, 0.95), 45px 105px 1px rgba(255, 255, 255, 0.95), 10px 100px 1px rgba(255, 255, 255, 0.95), 60px 75px 1px rgba(255, 255, 255, 0.95), 30px 75px 1px rgba(255, 255, 255, 0.95);
  -webkit-animation: cloud 7s linear infinite;
          animation: cloud 7s linear infinite;
  z-index: 0;
}

.cloud3 {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 30%;
  left: -950px;
  border-radius: 100%;
  -webkit-box-shadow: 100px 200px 2px rgba(255, 255, 255, 0.95), 50px 205px 1px rgba(255, 255, 255, 0.95), 10px 200px 1px rgba(255, 255, 255, 0.95), 35px 170px 1px rgba(255, 255, 255, 0.95), 70px 170px 1px rgba(255, 255, 255, 0.95);
          box-shadow: 100px 200px 2px rgba(255, 255, 255, 0.95), 50px 205px 1px rgba(255, 255, 255, 0.95), 10px 200px 1px rgba(255, 255, 255, 0.95), 35px 170px 1px rgba(255, 255, 255, 0.95), 70px 170px 1px rgba(255, 255, 255, 0.95);
  -webkit-animation: cloud 5s 2s linear infinite;
          animation: cloud 5s 2s linear infinite;
  z-index: 0;
}

.cloud4 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: -950px;
  border-radius: 100%;
  -webkit-box-shadow: 150px 200px 2px rgba(255, 255, 255, 0.95), 75px 205px 1px rgba(255, 255, 255, 0.95), 10px 200px 1px rgba(255, 255, 255, 0.95), 45px 150px 1px rgba(255, 255, 255, 0.95), 120px 150px 1px rgba(255, 255, 255, 0.95);
          box-shadow: 150px 200px 2px rgba(255, 255, 255, 0.95), 75px 205px 1px rgba(255, 255, 255, 0.95), 10px 200px 1px rgba(255, 255, 255, 0.95), 45px 150px 1px rgba(255, 255, 255, 0.95), 120px 150px 1px rgba(255, 255, 255, 0.95);
  -webkit-animation: cloud2 3s 1s linear infinite;
          animation: cloud2 3s 1s linear infinite;
  z-index: 2;
}
/* CLOUDS CLOUDS CLOUDS CLOUDS  */