.fbg_container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    z-index: 10;
}

.fbg_nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}
  
.fbg_nav-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fbg_nav-items li {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    margin: 20px 0;
    text-align: center;
}


.fbg_nav-items li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.fbg_nav-items li a span {
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fbg_nav-items li:not(.active):hover a span {
    outline: 3px solid;
    outline-color: currentColor;
}

.fbg_nav-items li.active a span {
    height: 5px;
    width: 30px;
    transform:  translate(-50%, -50%);
}


@media (max-width: 768px) {
    .fbg_container {
      display: none;
    }
 }