/* @-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, -90deg) scale(0);
        transform: rotate3d(1, 0, 0, -90deg) scale(0);
    }
    50% {
        -webkit-transform: rotate3d(1, 0, 0, -20deg) scale(0.8);
        transform: rotate3d(1, 0, 0, -20deg) scale(0.8);
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg) scale(1);
        transform: rotate3d(1, 0, 0, 0deg) scale(1);
    }
}
  
@keyframes zoomIn {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, -90deg) scale(0);
        transform: rotate3d(1, 0, 0, -90deg) scale(0);
    }
    50% {
        -webkit-transform: rotate3d(1, 0, 0, -20deg) scale(0.8);
        transform: rotate3d(1, 0, 0, -20deg) scale(0.8);
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg) scale(1);
        transform: rotate3d(1, 0, 0, 0deg) scale(1);
    }
} */

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.mainContainer {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.zoomOutAnimation {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: black;
    -webkit-animation: zoomOut 1.5s ease-in-out forwards;
    animation: zoomOut 1.5s ease-in-out forwards;
}

.background {
    position: relative;
    height: 100%;
    background-color: white;
}

.content {
    height: 100%;
    width: 100%;
}